---
import { SITE_TITLE } from '../consts'
import HeaderLink from './HeaderLink.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<header>
  <nav>
    <div class="logo">
      <a href="/"><img src="/logo/sonnystark-logo-white.svg" alt="Sonny Stark Logo" /></a>
    </div>
    <div class="nav-actions">
      <div class="internal-links">
        <ThemeToggle />
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/blogroll">Blog'n'roll</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink>
      </div>
    </div>
  </nav>
</header>
<style>
  header {
    border-bottom: 3px solid var(--accent-primary);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0 1em;
    background: #111111 url('/assets/dirt-yellow.svg');
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo img {
    padding: 1em 1.1em;
    width: 460px;
    height: auto;
  }
  .nav-actions {
    display: flex;
    align-items: center;
    gap: 1.5em;
  }
  .internal-links {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  nav a {
    padding: 0.3em 1.1em;
    color: var(--accent-primary);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-family: Packygreat, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  nav a.active {
    border-bottom-color: var(--accent-primary);
  }
  @media (max-width: 900px) {
    nav {
      flex-direction: column;
      align-items: stretch;
      padding-bottom: var(--spacing-xs);
    }
    .logo img {
      /* width: 220px; */
      margin: auto;
      padding: 0.7em 0.5em;
    }
    .nav-actions {
      flex-direction: column;
      gap: 0.7em;
      align-items: center; /* Center actions horizontally */
      width: 100%;
    }
    .internal-links {
      font-size: var(--font-size-small);
      flex-direction: row; /* Keep links in a row */
      flex-wrap: wrap;
      gap: 0.3em;
      width: 100%;
      justify-content: center; /* Center links horizontally */
    }
    nav a.active {
      border-bottom-color: transparent !important;
    }
  }
</style>
