---
import { SITE_TITLE } from '../consts'
import HeaderLink from './HeaderLink.astro'
import ThemeToggle from './ThemeToggle.astro'
---

<header>
  <figure class="logo">
    <a href="/"><img src="/logo/sonny-stark-logo-new.svg" alt="Sonny Stark Logo" /></a>
  </figure>

  <nav>
    <div class="nav-actions">
      <div class="internal-links">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/projects">Projects</HeaderLink>
        <HeaderLink href="/blogroll">Blog'n'roll</HeaderLink>
        <HeaderLink href="/contact">Contact</HeaderLink>
        <ThemeToggle />
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    border-bottom: 3px solid var(--accent-primary);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0 1em;
    background: #111111 url('/assets/dirt-yellow.svg');
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  nav {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .logo img {
    padding: 1em 1.1em;
    max-width: 350px;
    height: auto;
  }

  .nav-actions {
    display: flex;
    align-items: center;
    gap: 1.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .internal-links {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  nav a {
    padding: 0.3em 1.1em;
    color: var(--accent-primary);
    border-bottom: 4px solid transparent;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: Packygreat, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
  nav a.active {
    border-bottom-color: var(--accent-primary);
  }
  @media (max-width: 1200px) {
    nav {
      flex-direction: column;
      align-items: stretch;
      padding-bottom: var(--spacing-xs);
    }
    .logo img {
      max-width: 220px;
      margin: auto;
      padding: 0.7em 0.5em;
    }

    .nav-actions {
      position: static;
      left: auto;
      top: auto;
      transform: none;
      flex-direction: column;
      gap: 0.7em;
      align-items: center; /* Center actions horizontally */
      width: 100%;
    }

    .internal-links {
      font-size: var(--font-size-small);
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.3em;
      width: 100%;
      justify-content: center;
    }
    nav a.active {
      border-bottom-color: transparent !important;
    }
  }
</style>
